<%- include header %>

<div class="container nav-top-margin">
    <div class="row">
        <div class="col-md-7 center-side">
            404，你访问的 <a href="<%= url %>"><%= url %></a> 不存在
        </div>
        <%- include side_right %>
    </div>
</div>

<%- include footer %>