<%- include header %>

<div class="container nav-top-margin">
    <%if(articleList){%>
        <ul>
        <%for(var i = 0;i<articleList.length;i++){%>
            <li>
                <h3><a href="/article/<%=articleList[i]._id%>"><%=articleList[i].title%></a></h3>
                <p><%=articleList[i].content%></p>
                <p>发表时间：<%=articleList[i].postTime.getTime()%></p>
            </li>
        <%}%>
        </ul>
    <%}%>

</div>

<%- include footer %>