<%- include ../header %>

<ul class="nav-top-margin">
    <% for(var i = 0;i<userList.length ; i++){ %>
        <li>
            用户名：<%= userList[i].name %><br/>
            email:<%= userList[i].email %><br/>
            年龄:<%= userList[i].age %><br/>
        </li>
    <% } %>
</ul>

<%- include ../footer %>
